

/* styles for Related Products and Comparsion  */
.panel {
  position: relative;
  align-self: center;
  font-family: Arial, sans-serif;
  margin-left: 12rem;
  margin-right: 12rem;
}
/* ProductCard */
.card {

  /* border-width: .8px;
  border-color: rgb(102, 102, 102);
  border-style: solid; */
  /* background-color:  rgb(216, 216, 216); */
  background-color: rgb(255, 250, 245);
  box-shadow: 10px 5px 8px rgba(0, 0, 255, .2);
  display: inline-block;
  width: 14.5em;
  height: 22em;
  margin: 1em .65em 2em .65em;

}
.cardContents {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 66.66% 33.33%;

}
.cardDetails {
   padding: .0em .3em .0em .3em;
   grid-row-start: 2;
   grid-column-start: 1;
   background-color: rgb(255, 250, 245);
}
.imgBox {
  background-color: rgb(255, 250, 245);
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  width: 100%;
  height: 100%;
  justify-self: start;
}
.cardImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.iconContainer {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  z-index: 100;
  margin: 1em;
  font-size: 1.1em;
  justify-self: end;
  height: 1.5em;
  width: 1.5em;
  border-style: none;
  background-color: rgba(214, 97, 97, 0);

}

/* CardCarousel */
.carousel {
  overflow: hidden;
  margin-top: 2em;
  margin-bottom: 2em;
  /* background-color: turquoise; */
  white-space: nowrap;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10% 90%;
}
.cardContainer {

 grid-column-start: 1;
 grid-column-end: 4;
 grid-row-start: 2;
 grid-row-end: 3;
}

.chevronRight {
  font-size: 1em;
  z-index: 10;
  border-style: none;
  background: linear-gradient(to left, #f5efdc, #9198e500);
  text-align: end;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.chevronLeft {
  font-size: 1em;
  z-index: 10;
  border-style: none;
  grid-row-start: 2;
  text-align: start;
  background: linear-gradient(to right, #f5efdc, #9198e500);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-end: 3;
}

/* Typopgraphy */
.thinHeading1 {
  padding: .6em 0em .6em 0em;
  margin: .2em;
  font-size: .7em;
  font-weight: lighter;
}
.thinHeading2 {
  padding: .1em 0em .1em 0em;
  margin: .2em 0em .5em 0em;
  font-size: 1em;
}
.thinHeading3 {
  margin: 0;
  font-family: 'Caveat', cursive;
  margin-left: .65em;
  padding: 0;
  font-size: 1.5em;
  font-weight: lighter;
  align-self: end;
}

/* comparisonModal */
.modal {
  z-index: 300;
  top: 17em;
  right: 20em;
  height: 21.5em;
  width: 27em;
  position: fixed;
  background-color: white;
  border-width: .8px;
  border-color: rgb(102, 102, 102);
  border-style: solid;
  padding: 1em;
}
.featureGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.modalLeft {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: start;
}
.modalCenter {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
}
.modalRight {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: end;
}

/* outfit card */
.outfitCard {
  /* padding: 1em; */
  /* background-color:  rgb(216, 216, 216); */
  display: grid;
  /* font-size: 6em; */
  justify-items: center;

}
.addThisProduct {
  position: relative;
  top: 3em;
}