.reviewListandStarBreakdown {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.checkmark {
  display:inline-block;
  width: 22px;
  height:22px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_stem {
  position: absolute;
  width:4px;
  height:12px;
  background-color: green;
  left:14px;
  top:8px;
}

.checkmark_kick {
  position: absolute;
  width:4px;
  height:4px;
  background-color:green;
  left:10px;
  top:16px;
}

.reviewList {
  width: 45%;
  height: 100%;
  margin: 0; /* Space from this element (entire page) and others*/
  padding: 0; /*space from content and border*/
  border: solid black;
  border-width: thin;
  display:block;
}

.checked {
  color: black;
}

.image {
  padding: 10px;
}

.response {
  width: 300px;
  border: 5px solid black;
  padding: 25px;
  margin: 20px;
  text-align: left;
}

.reviewsAndRating {
  display: flex;
}

.starsOuter {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.starsOuter::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.starsInner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
}

.starsInner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color:black;
}

.barContainer {
  width:50%;
  background-color: #f1f1f1;
  color: white;
  display: inline-block;
}

.bar5 {
  width: 50%;
  height: 20px;
  background-color:orange;
  display: inline-block;
}

.bar4 {
  width: 50%;
  height: 20px;
  background-color:orange;
  display: inline-block;
}

.bar3 {
  width: 50%;
  height: 20px;
  background-color:orange;
  display: inline-block;
}

.bar2 {
  width: 50%;
  height: 20px;
  background-color:orange;
  display: inline-block;
}

.bar1 {
  width: 50%;
  height: 20px;
  background-color:orange;
  display: inline-block;
}

.newReviewStarsInner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0%;
}